{% extends "header.html" %}
{% block body %}



<body class="body">

      <div class="container" align="center">
	  <img src="{{ url_for('static', filename='images/PandaTumbsUp.png') }}">
	  
	  </div>
	  <div class="container" align="left">
		
        <center><h4>Su solicitud ha sido enviada con éxito</h4></center>
        <center><p>Gracias por viajar con nosotros</p></center>
		
        <center> <a href= " /dashboard/"><button type= "button" class= "btn btn-primary" aria-label= "Left Align"
			style= "margin-top: 5px; margin-bottom: 5px; height: 44px; margin-right: 15px">
			<span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span> Seguir viajando!
		</button></a>
		</center>
      </div>
	
	
</body>
{% endblock %}
