{%extends "header.html" %}

{% block body %} 
<div class="container" align="center">
<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#Origen" aria-controls="Origen" role="tab" data-toggle="tab">Juego</a></li>
    <li role="presentation"><a href="#Destino" aria-controls="Destino" role="tab" data-toggle="tab">Chat</a></li>
    <li role="presentation"><a href="#MDT" aria-controls="MDT" role="tab" data-toggle="tab">Alta puntuación</a></li>

  </ul>

  <!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="Juego">
	<h4>Juega pong:</h4>
	<script src="../static/js/pong.js"></script>
  </div>
  
  <div role="tabpanel" class="tab-pane fade" id="Chat">
  <h4>Chatea con tus amigos:</h4>
	
  </div>

  <div role="tabpanel" class="tab-pane fade" id="AP">
  <h4>Muestra los  10 jugadores con puntuación más alta:</h4>
	
  </div>

</div>


	{% if error %}
			<p class="error"><strong>Error:</strong> {{ error }}</p>
	{% endif %}


</div>
</div>

{% endblock %}

<!--
<html>
  <head>
    <script src="../static/js/pong.js"></script>
  </head>
  <body></body>
</html> --> 